<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<meta http-equiv="content-language" content="en" />
<title>Alextra</title>
<link rel="stylesheet" type="text/css" href="/style.css" />
</head>

<body>
<div id="menu">[<a href="/">Home</a> | <a href="/parlour">Parlour</a> | <a href="/filter.php">Milking Times</a> | <a href="/index.php?a=sorted">Sorted Cows</a>
| <a href="/index.php?a=footTrimming">Foot Trimming</a>
| <a href="/index.php?a=estrotectCam">Estrotect Cam</a>
| <a href="/index.php?a=dodgycollars">Dodgy Collars</a> | <a href="/index.php?a=milking_summaries">Milking Summaries</a>]</div>