<html>
  <head>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
		<?php
			echo "['Year'";
			foreach($by_week['2012'] as $week => $count) echo ", '".$week."'";
			echo "]";
			foreach($by_week as $year => $weeks) {
				echo ",\n['".$year."'";
				foreach($weeks as $week) echo ", ".$week;
				echo "]";
			}
		?>
        ]);

        var options = {
          title: 'Pregnancies By Week'
        };

        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
  </head>
  <body>
    <div id="chart_div" style="width: 900px; height: 500px;"></div>
  </body>
</html>